/* Color palette */
:root {
  --blue: #3454f6;
  --white: #ffffff;
  --cool-grey: #93b0b5;
  --green: #77ea9f;
  --charcoal-grey: #333d44;
  --light-grey: #f9f9f9;
  --aqua: #4ad6dd;
  --steel-grey: #6d868b;
}
