/* Global */
body {
    font-family: "Work Sans", Roboto, Helvetica, sans-serif;
}

/* Bootstrap Overrides */
.jumbotron {
    margin-bottom: 0;
}

a, a:hover { color: var(--primary); }


.btn-primary {
    color: var(--white);
    border-color: var(--aqua);
    background-color: var(--aqua);
	text-transform: uppercase;
}

main .btn-primary {
    width: 224px;
    height: 60px;
}

.btn-primary:hover {
    border: solid 2px var(--green);
    background-color: var(--green);
	-webkit-box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
	   -moz-box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
	        box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
}

.btn-outline-primary {
	color: var(--aqua);
    border-color: var(--aqua);
}  
.btn-outline-primary:hover {
	background-color: var(--aqua);
    border-color: var(--aqua);
}  

.form-control {
	margin-bottom:22px;
	border-radius:0;
}
.navbar-toggler { border: none; }
.navbar-toggler-icon, .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(74,214,221,1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.user-options.dropdown-menu {
	right:0;
	left:auto;
}

.user-status-logged-in a.dropdown-toggle { text-decoration:none; opacity:0.8; color:#fff; }
.user-status-logged-in a.dropdown-toggle:hover { opacity:1;  }

/* Global Styles */

.footer {
	border-top: 10px solid var(--green);
	color: var(--steel-grey);
}
.footer-blurb {
	font-size:14px;
}
.footer-icon {
	text-indent: -20px;
	display: block;
}
phone.footer-icon::before {
	content: url('../img/icon-email.svg');
	margin-right:10px;
	
}
email.footer-icon::before {
	content: url('../img/icon-email.svg');
	margin-right:10px;
}

.location::before {
	content: url('../img/icon-location.svg');
	margin-right:5px;
}

.location {
	color: var(--steel-grey);
}

.influencer-name {line-height:normal;}

.button-list-nav a, .navbar-collapse.show .nav-link, .navbar-collapse.collapsing .nav-link {
	margin-bottom: 10px !important;
	background-image: url('../img/icon-chevron.svg');
	background-repeat: no-repeat;
	background-position: right 20px center;
    background-color: var(--aqua);
    border: 2px solid var(--aqua);
	border-radius:4px;
    color: #fff;
    padding: 15px;
	padding-right:45px; /* so that the text doesn't go over the chevron */
}
/* DASHBOARD USER BUTTON LIST */
.button-list-nav.button-list-nav-users a {
	color: inherit;
	background-color:#fff;
	background-image: url('../img/icon-chevron-aqua.svg');
	line-height:normal;
	padding:20px;
}
.media-user-type { font-weight: 600; }
.media-user-name { font-size:1.25rem; font-weight:300;}

/* GLOBAL BUTTON LIST HOVER */
.button-list-nav a:hover {
	background-color: var(--green);
	background-image: url('../img/icon-chevron.svg');
    border-color: var(--green);
	color:white;
	-webkit-box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
	   -moz-box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
	        box-shadow: 0 32px 16px -16px rgba(51, 61, 68, 0.15);
}
/*  Landing page  */



.hero {
  height: 420px;
  object-fit: contain;
  background: url('../../assets/img/hero@2x.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: var(--white);
}



.join-now-box-heading {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--charcoal-grey);
}
.join-now-bg {
	padding:2rem;
}
.join-now-box {
	padding: 2rem;
}

.join-now-box-spacer {
    height: 700px;
}


.blog-col {
    height: 491px;
	padding:0;
}
.blog-col .media {
	background-color: rgba(51, 61, 68, 0.6);
	padding:2rem;
	width:100%;
}
.blog-text {
	font-weight: bold;
	margin-bottom:0;
	line-height: normal;
}

.grey-gradient {
  background-image: linear-gradient(305deg, rgba(98, 113, 121, 0.99), #627179 6%, var(--charcoal-grey));
}

.social-col {color:#fff; padding:4rem;}
.social-col-facebook { background: var(--blue);}
.social-col-twitter { background: #43aee4;}
.social-col-instagram { background: var(--steel-grey);}

.social-col .media { margin-bottom:2rem;}

.bg-heading {
	background:url('../../assets/img/bg-heading.svg') center no-repeat;
}
.section-cta {padding:4rem;}

/* JOIN FORM */

.hero > .overlay {
    background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:420px; /*same as hero*/
}

.join-col { padding: 4rem; }
.btn:hover img.btn-icon { fill: green;}

.bg-blue { background-color: var(--blue); color:white; }
.bg-aqua { background-color: var(--aqua); color:white; }

/* Zeplin */
.Heading-1 {
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

h2 {
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: var(--steel-grey);
}

.Subheading {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--charcoal-grey);
}

.Order-List-text {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--charcoal-grey);
}

.body-text-link {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--aqua);
}

.body-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: var(--steel-grey);
}



/* --- RESPONSIVE  --*/
@media (min-width: 768px) {

	.scroll .navbar-brand img {height:55px; transition:0.2s;  }	

	.list-group-col-6 a {
		width:48%;  
		}
	.join-now-bg {
		border-radius: 2px;
		background-color: var(--light-grey);
		object-fit: contain;
		background: url('../../assets/img/bg.svg') center;
		padding-bottom:9rem;
		padding-top:6rem;
	}
	.join-now-box {
		border-radius: 2px;
		background-color: var(--white);
		margin: 0 auto;
		padding: 5rem;
		-webkit-box-shadow: 0 42px 16px -16px #efefef;
		   -moz-box-shadow: 0 42px 16px -16px #efefef;
				box-shadow: 0 42px 16px -16px #efefef;

	}


	/* JOB SEARCH */
	.logo-placeholder { 
		width:100%;
		height:178px;
		padding:1rem;
	}
}

@media (max-width: 768px) {
	.bg-heading {
		background-size:contain;
		background-repeat: space;
	}
	
}
@media (max-width: 992px) {
	.navbar-collapse { 
		background:#343a40;
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px;
	}
}

